@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-4">
        <h2>Energy Market Analytics Demos</h2>
        <p>Just some nice demos...</p>
        The aim is to provide comprehensive demonstrations of models and analytics in the energy markets<br />
        From univariate to structural and hybrid models, from spot to forward and option markets <br />
        this project aims to provide extensive ideas, cover cutting edge models and not the least <br />
        show visualization techniques. <br />
    </div>
</div>