@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Energy Market Models</h1>
    <p class="lead">
        Welcome to the Energy Market Analytics project front page. <br/>
        The aim is to provide comprehensive demonstrations of models and analytics in the energy markets<br/>
        From univariate to structural and hybrid models, from spot to forward and option markets <br/>
        this project aims to provide extensive ideas, cover cutting edge models and not the least <br/>
        show visualization techniques. <br/>
    </p>
    <p>
        Also, a broader aim is to provide practical tools for all professionals involved in energy markets
        to carry out their jobs to a highly proficient degree by relying on a transparent and flexible solution.
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Analysis</h2>
        <h3>Spot Market Analysis</h3>
        <p>
            Various key observations about the supply and demand system curves (such as sensitivity analysis). 
            Supply curve generation components, marginal costs and other relevant analytics.
        </p>
        <p>
            <a class="btn btn-default" href="/EnergyMarkets/SpotCurvesAnalysis">Supply & Demand Analysis &raquo;</a>
        </p>
        <h3>Day-Ahead price forecasting</h3>
        <p>
            High accuracy day-ahead price forecasting based on a multivariate model including a wide array of
            variables(e.g. wind, gas) and market information (e.g. outages), all based on flexible parameters.
        </p>
        <p>
            <a class="btn btn-default" href="/EnergyMarkets/SpotPriceForecast">Day-Ahead Forecast &raquo;</a>
        </p>
        <h3>Forward Market Analysis</h3>
        <p>
            Modelling and simulation of all foward market (forward contracts) based on a model
            that matches information from the whole structure (e.g. options, emissions) and multiple time resolutions.
        </p>
        <p>
            <a class="btn btn-default" href="/EnergyMarkets/ForwardMarketAnalysis">Forward Analysis &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Valuation</h2>
        <h3>Natural Gas Storage</h3>
        <p>
            Valuation of natural gas storage facilities under various specifications. Notable is the ability to see greeks values in 
            real time, display dynamic values and so on...</p>
        <p>
            <a class="btn btn-default" href="/GasMarket/StorageValuation">Storage Valuation &raquo;</a>
        </p>
        <h3>Swing Contracts</h3>
        <p>
            An advanced model providing flexibility to swing valuation, in includes a dynamic term structure, underlying
            model flexibility and a variety of nice features such as drag-and-drop interactions and a simple interface.
        </p>
        <p>
            <a class="btn btn-default" href="/GasMarkets/ForwardCurves">Swing... &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Risk Management</h2>
        <h3>Value At Risk</h3>
        <p>
            A comprehensive method for calulating VaR values based on flexible distribution settings and a hybrid 
            market model, providing high accuracy and extensive settings...
        </p>
        <p>
            <a class="btn btn-default" href="/RiskManagement/PlantPortfolio">Plants VaR... &raquo;</a>
        </p>
    </div>
</div>

