<h3>Model</h3>

<script>
    function createO() {
        var chart = $('#container-histogram').highcharts({
            chart: {          
                type: 'column'
            },
            tooltip: {
                valueDecimals: 4
            },
            title: {
                text: 'VaR'
            },
            series: [],
            xAxis: {
            
                minPadding: 0,
                maxPadding: 0
            }
        });

        return chart;
    }

    function plotO(chart, data) {
        var priceData = [];
        for (var i = 0; i < 100; i++) {
            priceData[i] = -i * (i - 99);
        }

        var serie = {
            name: "Cash Flow",
            color: '#CFCFCF',
            data: priceData,
            tooltip: {
                valueDecimals: 4
            }
        };

        chart.addSeries(serie);

        //VaR lines..
        chart.xAxis[0].addPlotLine({
            color: 'red', // Color value
            value: 3, // Value of where the line will appear
            width: 2 // Width of the line
        });

        chart.xAxis[0].addPlotLine({
            label: {
                text: "90% VaR",
                verticalAlign: 'top',
                textAlign: 'center'
            },
            color: 'yellow',
            value: 10,
            width: 2
        });
    }
</script>

<div id="container-histogram" style="height: 400px; min-width: 310px"></div>