packages/
EMA/bin/
EMA/obj/
MarketModels/bin
MarketModels/obj
MarketModels.Tests/bin
MarketModels.Tests/obj
Utils/bin
Utils/obj
Utils.UnitTests/bin/
Utils.UnitTests/obj/
EMA.UnitTests/bin/
EMA.UnitTests/obj/
.vs/
Data/New Text Document.txt
Data/ODA-PNGASJP_USD.csv
Data/WeatherJapan-2005-04-02.json
Data/WeatherJapan-2006-04-02.json
Data/WeatherJapan-2007-04-02.json
Data/WeatherJapan-2008-04-02.json
Data/WeatherJapan-2009-04-02.json
Data/WeatherJapan-2010-04-02.json
Data/WeatherJapan-2011-04-02.json
Data/WeatherJapan-2012-04-02.json
Data/WeatherJapan-2013-04-02.json
Data/WeatherJapan-2014-04-02.json
Data/WeatherJapan-2015-04-02.json
Data/WeatherJapan.csv
EMA.ConsoleApp/App.config
EMA.ConsoleApp/Properties/AssemblyInfo.cs
EMA.ConsoleApp/bin/Debug/EMA.ConsoleApp.exe.config
EMA.ConsoleApp/bin/Debug/EMA.ConsoleApp.vshost.exe.config
EMA.ConsoleApp/bin/Debug/EMA.ConsoleApp.vshost.exe.manifest
EMA.ConsoleApp/bin/Debug/FSharp.Core.xml
EMA.ConsoleApp/bin/Debug/HtmlAgilityPack.xml
EMA.ConsoleApp/bin/Debug/MarketModels.xml
EMA.ConsoleApp/bin/Debug/MathNet.Numerics.xml
EMA.ConsoleApp/bin/Debug/Microsoft.Solver.Foundation.xml
EMA.ConsoleApp/bin/Debug/Newtonsoft.Json.xml
EMA.ConsoleApp/obj/Debug/EMA.ConsoleApp.csproj.EMA.ConsoleApp.exe.config
EMA.ConsoleApp/obj/Debug/EMA.ConsoleApp.csproj.FileListAbsolute.txt
EMA.ConsoleApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EMA.ConsoleApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EMA.ConsoleApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EMA.ConsoleApp/packages.config
EMA.Matlab.sln
EMA.Matlab/Class1.cs
EMA.Matlab/Data.cs
EMA.Matlab/EMA.Matlab.csproj
EMA.Matlab/MCR.cs
EMA.Matlab/Properties/AssemblyInfo.cs
EMA.Matlab/bin/Debug/EMA.Matlab.vshost.exe.manifest
EMA.Matlab/bin/Debug/MWArray.xml
EMA.Matlab/bin/x64/Debug/EMA.Matlab.vshost.exe.manifest
EMA.Matlab/bin/x64/Debug/MWArray.xml
EMA.Matlab/obj/Debug/EMA.Matlab.csproj.FileListAbsolute.txt
EMA.Matlab/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EMA.Matlab/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EMA.Matlab/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EMA.Matlab/obj/x64/Debug/EMA.Matlab.csproj.FileListAbsolute.txt
EMA.Matlab/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EMA.Matlab/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EMA.Matlab/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EMA.R/App.config
EMA.R/EMA.R.csproj
EMA.R/Program.cs
EMA.R/Properties/AssemblyInfo.cs
EMA.R/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EMA.R/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EMA.R/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EMA.Utils.sln
EMA/App_Data/CA/Consumption-Prognosis_Hourly_All.json
EMA/App_Data/CA/Consumption_Hourly_All.json
EMA/App_Data/CA/Price_Hourly.json
EMA/App_Data/Elspot-Capacities_2013_Hourly.xls
EMA/App_Data/Elspot-Capacities_2014_Hourly.xls
EMA/App_Data/Elspot-Capacities_2015_Hourly.xls
EMA/App_Data/JPX_Price_Hourly.json
EMA/App_Data/NordpoolSpot/mcp_data_report_02-02-2016-00_00_00.json
EMA/App_Data/NordpoolSpot/mcp_data_report_02-12-2015-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_03-12-2015-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_04-02-2016-00_00_00.json
EMA/App_Data/NordpoolSpot/mcp_data_report_07-12-2015-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_10-12-2015-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_11-11-2015-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_12-01-2016-00_00_00.json
EMA/App_Data/NordpoolSpot/mcp_data_report_13-01-2016-00_00_00.json
EMA/App_Data/NordpoolSpot/mcp_data_report_17-12-2015-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_20-01-2016-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_24-01-2016-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_27-12-2015-00_00_00.xls.json
EMA/App_Data/NordpoolSpot/mcp_data_report_28-01-2016-00_00_00.xls.json
