@using EMA.Helpers
@using MarketModels;
@{
    ViewBag.Title = "Forward Market";
}

<style>
.navbar, footer {display:none;}
</style>

<script>
    SERVER_CONSTANTS = {        
        ForwardInterpolations: @(Html.EnumTypeToJavascript<Types.ForwardInterpolation>())
    };
</script>

<script src="~/Scripts/electricitySpotSimulations.js"></script>

<div ng-controller="SpotController">
    <div class="row">
        <div class="col-md-4">
            <div class="panel-header">
                <h2><a data-toggle="modal" data-target="#demoDescription">Spot Price Simulations</a></h2>
            </div>
            <div class="panel">
                <h3 data-toggle="tooltip" data-placement="right" title="Demo parameters">Parameters</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="menu-sp" class="control-label col-xs-6">Forward Interpolation</label>
                        <div class="col-xs-6">
                            @{Html.RenderPartial("~/Views/Components/DropDownList.cshtml", null, new ViewDataDictionary(){
                                  { "Id", "menu-sp" } , { "ModelName", "ForwardInterpolations" }, { "SelectedValue", "forwardInterpolation" },
                                  { "Tooltip", "The method of interpolating forward curve price levels."} });}
                        </div>
                    </div>
                    @*@{Html.RenderPartial("~/Views/Components/InputText.cshtml", null, new ViewDataDictionary(){
                                            { "Id", "simulationsCount" }, { "Label", "Simulations" },
                                            { "Tooltip", "Number of simulations to display."} });}*@
                    @*@{Html.RenderPartial("~/Views/Components/InputText.cshtml", null, new ViewDataDictionary(){
                                            { "Id", "reversionRate" }, { "Label", "Reversion Rate" } });}*@
                    @{Html.RenderPartial("~/Views/Components/InputText.cshtml", null, new ViewDataDictionary(){
                                            { "Id", "volatility" }, { "Label", "Volatility" },
                                            { "Tooltip", "The magnitude of variation around forward price levels."} });}
                    @{Html.RenderPartial("~/Views/Components/InputText.cshtml", null, new ViewDataDictionary(){
                                            { "Id", "confidence" }, { "Label", "Confidence (%)" } });}
                </form>
                <button ng-click="simulate()">Simulate</button>
                <button ng-click="clear()">Clar all</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel-header">
                <h2>Result</h2>
            </div>
            <div class="panel">
                <div id="container" style="height: 400px; min-width: 310px"></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="demoDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Price Forecasting Demo Description</h2>
            </div>
            <div class="modal-body">
                <p>
                    A simple demonstration of various approaches for houly spot price simulations. It provides the
                    ability to select the interpolation method and various other relevant parameters.
                </p>

                <h2>Forward Interpolation</h2>
                <p>
                    The process of interpolation is a delicate one and it implies the fulfillment of the 
                    following conditions [1]:
                       1. Arbitrages Free, however shorter forwards are preferred over longer ones, as assure higher granularity.
                    <div class="tex2jax_process" style="">
                        $$ H_m*F_{m,T_m,T_{n}} = \sum_{i=m+1}^{n-1}H_i*F_{i, T_i, T_{i+1}} $$
                        $$ \text{F_{m,T_m,T_{n}}}\text{ is the m-th contract overlapping the contained contracts. } $$
                        $$ \text{F_{i, T_i, T_{i+1}}}\text{ is contained i-th contract underlapping the m-th contract. } $$
                        $$ \text{H_i}\text{ is the hourly duration of the i-th contract. } $$
                    </div>
                       2. Smooth - the interpolation has to be derivable.
                    <div class="tex2jax_process" style="">
                        $$  $$
                    </div>
                    <br />
                       3. Integral - etc...
                    <div class="tex2jax_process" style="">
                        $$  $$
                    </div>

                    Since the time series is discrete, we assume the discrete formulation
                    <div class="tex2jax_process" style="">
                         $$ F_{t, T_1, T_2} = \frac{1}{T_2-T_1}\sum_{T=T_1}^{T_2-1}F_{t,T}dT $$
                    </div>
                    <p>
                        Choice of methods is based on simplicity and conceptual accessibility. Those methods are adapted
                        from research literature (most notably [1]) and presented for comparison purposes. The most common methods are
                    </p>
                    1. Quadratic - piecewise functions.
                    <br />
                    2. Polynomial - etc...
                </p>
                <h2>Spot Simulation Model</h2>
                <p>
                    From equatin (6) in [2], the spot price process can be written as
                    <div class="tex2jax_process" style="">
                        $$ S_{t} = \text{exp(}X_t + Y_t)^i $$                        
                    </div>
                    Where Yt is the forward cuve interpolation and Xt is the seasonal component very similar as the one used in [2].
                    The choice of model is based on widely accepted considerations of the spot price dynamics.
                    Also spikes are added... using a Poisson process..
                </p>
                <h2>Estimation</h2>
                <p>
                    The method used to estimate those parameters is maximum likelihood... etc... :D...
                </p>
                <h2>Limitations</h2>
                1. Multiple regimes or heteroskedasticity concerns are ignored, see [3] for more info.<br />
                2. Outages and other short term constraints are not included. <br />
                3. Area prices and other relevant variables (such as flow constraints or exchange rates) are ignored. <br />
                <hr />

                <h2>References</h2>
                [1] - Kluge, Tino (2006) Pricing Swing Options and other Electricity Derivatives, St Hugh’s College, University of Oxford
                <br />
                [2] - Markus Burger, Bernhard Klar‡, Alfred Müller* Gero Schindlmayr (2010) A spot market model for pricing derivatives in
                     electricity markets
                <br />
                [3] - Fernando L. Aiube, Tara K. N. Baidya, Frances F. Blank, Ana B. Mattos, Wagner Saboia, Afzal S. Siddiqui (2010) 
                    Modeling Hourly European Electricity Spot Prices via a SARMA-GARCH Approach
                <br />
                [4] - Box, G. E. P., G. M. Jenkins, and G. C. Reinsel. Time Series Analysis: Forecasting and Control. 3rd edition. Upper Saddle River,
                NJ: Prentice-Hall, 1994.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>