@{
    ViewBag.Title = "TST";
}
<script type="text/javascript">
 
//TODO: add the MIP VPP demo... YES, bitch, yes...
</script>
<div class="row">
    <div class="col-md-4">
        <div id="container"></div>
    </div>
</div>