@{
    Layout = null;
}

<!DOCTYPE html>
<html class="is-iframe">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script>!function (w, noop) { if (!w.console) w.console = { log: noop, warn: noop }; }(window, function () { });</script>

    <script>
        var ENV = {
            "DOMAIN_WEBAPP": "plot.ly", "SOCIALAUTH_ENABLED": true,
            "GOOGLEANALYTICS_ACCOUNT": "UA-39373211-1", "STRIPE_PUBLISHABLE_KEY": "pk_live_55FpF4lJegP5GCKBwvCpS3ku",
            "DOMAIN_STREAM": "stream.plot.ly", "USE_CONTENT_DELIVERY_NETWORKS": true, "SHAREPLOT_META_TAB_ENABLED": false,
            "GOOGLEDRIVE_ENABLED": true, "SOCIALFEEDBACK_ENABLED": true, "BASE_URL": "https://plot.ly",
            "STATIC_URL": "//plot.ly/static/", "WEBSOCKET_PORT": 443,
            "MIXPANEL_KEY": "ad6df61d0b9400400b240631576c24d4",
            "GOOGLEDRIVE_DEVELOPER_KEY": "", "GOOGLEANALYTICS_ENABLED": true,
            "FILEWELLSEARCH_ENABLED": false, "STRIPE_ENABLED": true,
            "GOOGLEDRIVE_CLIENT_ID": "945982715719-kj3ie7qge4ivf1d06fs0ibdn5ss1h8u8.apps.googleusercontent.com",
            "SENTRY_ENABLED": true, "MIXPANEL_ENABLED": true, "WEBSOCKET_HOST": "websocket.plot.ly",
            "ANON_TIMEOUT": 86400, "SOCIALSHARING_ENABLED": true, "API_URL": "https://api.plot.ly",
            "TOPOJSON_URL": "//plot.ly/static/plotlyjs/src/geo/topojson/", "DOMAIN_API": "api.plot.ly",
            "SUBSCRIPTIONS_ENABLED": true, "AUTH_LDAP_ENABLED": false, "SUGGEST_LOGIN": true, "DOMAIN_IS_PLOTLY": true,
            "USE_LOCAL_DOCS": false, "EMAIL_TO_PLOTLY_ENABLED": true,
            "RAVEN_CONFIG_WEBAPP": "https://2870d6dab7694084b6fb50c177569982@app.getsentry.com/9246",
            "MARKETING_PAGES_ENABLED": true, "FACEBOOK_PAGE_APP_ID": "409680159121928", "BUCKETEER_ENABLED": true,
            "HOMEPAGE": "https://plot.ly/feed/", "SHOW_ALL_GRAPHS_ON_FEED": false
        };
        var PLOTLYENV = ENV;
    </script>

    <script src="/Content/plotly/raven.min.js"></script>
    <style type="text/css"></style>

    <script>
        var options = {
            ignoreErrors: ["Cannot read property 'href' of null", "Object #<SVGAnimatedString> has no method 'match'"],
            ignoreUrls: [/plot\.ly\/~flann321\/9/i]
        };
        //Raven.config('https://2870d6dab7694084b6fb50c177569982@app.getsentry.com/9246', options).install();
    </script>

    <title>-</title>

</head>
<body style="background-color: rgb(255, 255, 255);">

    <div id="embedded-graph" class="js-plotly-plot" style="background: none;">
        <div class="plot-container plotly">
        </div>
    </div>
    <script id="json-plot-data" type="text/javascript">
        MarketCurves = @Html.Raw(ViewBag.ViewModel);
        window.MarketCurves = MarketCurves;
    </script>
    <script id="plot-data" type="text/json">
        @Html.Raw(ViewBag.PlotData)
    </script>
    <script id="plot-layout" type="text/json">
        {
        "autosize": true,
        "showlegend": false,
        "showscale": false,
        "title": "Spot Supply and Demand Curves for next day's 24 hours",
        "scene": {
        "aspectratio": {
        "y": 1,
        "x": 1,
        "z": 1
        },
        "camera": {
        "eye": {
        "y": 1.2500000000000002,
        "x": 1.25,
        "z": 1.25
        },
        "up": {
        "y": 0,
        "x": 0,
        "z": 1
        },
        "center": {
        "y": 0,
        "x": 0,
        "z": 0
        }
        },
        "zaxis": {
        "title": "Price"
        },
        "xaxis": {
        "title": "Volume"
        },
        "yaxis": {
        "title": "Hour"
        }
        },
        "height": 889,
        "width": 1018
        }
    </script>

    <script id="plot-fid" type="text/json">
        MattSundquist:2000
    </script>
    <script id="plot-width" type="text/json">
        640
    </script>
    <script id="plot-height" type="text/json">
        640
    </script>
    <script id="plot-logo" type="text/json">
        true
    </script>
    <script id="plot-modebar" type="text/json">
        hover
    </script>
    <script id="plot-link" type="text/json">
        true
    </script>
    <script id="plot-autosize" type="text/plain">
        null
    </script>
    <script id="plot-filename" type="text/plain">
        s8_surface
    </script>
    <script id="plot-proxy" type="text/plain">
    </script>
    <script id="plot-proxy-source" type="text/plain">
    </script>
    <script id="plot-proxy-interval" type="text/plain">
    </script>
    <script id="plot-proxy-preview" type="text/plain">
    </script>
    <script id="plot-proxy-sheet" type="text/plain">
    </script>
    <script id="plot-proxy-key" type="text/plain">
    </script>

    <script src="/Content/plotly/jquery.min.js"></script>

    <script>
        if (!window.jQuery)
            document.write("<scri" + "pt src='//plot.ly/static/js/plugins/jquery-1.8.3.min.js'></scr" + "ipt>");
    </script>

    <script type="text/javascript" src="/Content/plotly/MathJax.js"></script>

    <script type="text/javascript" src="/Content/plotly/6c6e4c7552e2.js"></script>

    <script>if (!window.EmbedTest) (new window.Embed()).setUp();</script>

</body>
</html>